/*------------------GENERAL----------------------*/

body {
  text-align: center;
}

/*---------------------HEADER----------------------*/

/*--------Animation guidance taken from Stack Overflow (Kirk Strobeck) ---------------*/
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
/*---------------------------------------------------*/

header {
  padding: 1em;
  margin-top: 1em;
}
#title {
  pointer-events: none;
}

#title h1 {
  font-size: 5rem;
  font-family: "Bungee Inline", cursive, sans-serif;
  background-color: rgb(27, 143, 27);
  border-radius: 1.4em;
  animation-name: banner;
  animation-duration: 4s;
  width: 100%;
}

@keyframes banner {
  from {
    width: 0em;
  }
  to {
    width: 100%;
  }
}

main {
  animation-name: fadein;
  animation-duration: 4s;
}

.current {
  color: rgb(107, 69, 12);
  text-decoration: none;
}

h1 i {
  color: rgb(107, 69, 12);
}

.trophy {
  position: relative;
  font-size: 8rem;
  color: gold;
  visibility: hidden;
}

.menu {
  font-family: "Bungee Inline", cursive, sans-serif;
  text-align: right;
  animation-name: fadein;
  animation-duration: 4s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu ul {
  list-style-type: none;
  line-height: 2;
}

.menu li {
  position: relative;
  right: 3em;
  font-weight: 200;
  cursor: pointer;
  font-size: 2em;
}
.howTo:hover {
  cursor: help;
}

.menu li a {
  color: rgb(59, 59, 59);
}

.menu li a:hover {
  background-color: rgb(27, 143, 27);
  color: rgb(255, 255, 255);
}

/*---------STATUS BAR INFO ----------*/

#status {
  padding: 0.5em;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4em;
}

#status p {
  font-family: "Bungee Inline", cursive, sans-serif;
}

#difficulty {
  width: 100%;
  overflow: hidden;
  font-size: 2em;
}

#status i {
  color: rgb(194, 0, 0);
}

#points {
  animation-name: grow;
  animation-duration: 4s;
}
@keyframes grow {
  from {
    font-size: 1em;
  }
  to {
    font-size: 4em;
  }
}
/*---------------------MAIN----------------------*/
.game {
  width: 100%;
  background-color: rgb(27, 143, 27);
  height: auto;
}
.card {
    font-family: "Bungee Inline", cursive, sans-serif;
  width: 24%;
  height: auto;
  margin: auto .1rem;
  box-shadow: 0px 0px 1px rgb(150, 149, 149);
  border-radius: 1.4em;
}

.card-row {
  display: flex;
  align-content: center;
  align-items: center;
  padding-bottom: 40px;
}

.flash {
  border: solid rgb(209, 178, 4) 6px;
  color: rgb(209, 178, 4) 6px;
}

.card:hover {
  border: solid rgb(209, 178, 4) 4px;
  cursor: pointer;
}

.empty {
  width: 10rem;
  height: 10rem;
  margin: auto 0;
  padding: 2em;
}

.count {
  float: center;
  position: relative;
  background: transparent;
  font-size: 4em;
  font-style: inherit;
  z-index: 100;
}
/*---------------------FOOTER----------------------*/

/*---------------------IMAGES----------------------*/
.card img {
    height: 10em;
  overflow: hidden;
  border-radius: 1.4em;
}

.popup{
    position: fixed;
    z-index: 300;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    visibility: hidden;
}
/* .winning {
  position: fixed;
  z-index: 300;
  bottom: 0px;
  right: 240px;
  visibility: hidden;
}

.losing{
    position: fixed;
  z-index: 300;
  bottom: 0px;
  right: 320px;
  visibility: hidden; */

/* } */
.touchdown {
  position: fixed;
  z-index: 300;
  bottom: 0px;
  margin: auto 0;
  visibility: hidden;
}

/*---------------------BUTTONS----------------------*/
#menu-btn {
  font-size: 7em;
  width: 100%;
}

.buttons {
  padding-top: 1em;
  font-family: "Bungee Inline", cursive, sans-serif;
}

#restart-btn{
    font-family: "Bungee Inline", cursive, sans-serif;
}

#startGame {
  border: solid 2px rgb(148, 110, 14);
  background-color: rgb(247, 245, 245);
  color: rgb(148, 110, 14);
}

#startGame:hover {
  border: solid 2px rgb(247, 245, 245);
  background-color: rgb(148, 110, 14);
  color: rgb(247, 245, 245);
}

#send-btn {
  color: rgb(148, 110, 14);
  border: solid 2px rgb(148, 110, 14);
}

.sent {
  background-color: rgb(27, 143, 27);
  border: solid 2px white;
}
/*-------Container Image--------*/
main .wing {
  height: auto;
  width: 100%;
  background: url(../images/field.jpg) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.no-gutters {
  padding: 0;
}
/*--------Modals------------*/

.modal-content {
  background: url(../images/grass.jpg) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  height: auto;
}

#selectDifficulty .modal-content {
  width: max-content;
}

.modal-header {
  font-family: "Bungee Inline", cursive, sans-serif;
  color: white;
  font-size: 5rem;
}
.modal-body {
  font-family: "Montserrat", cursive, sans-serif;
  color: white;
  font-weight: 600;
  text-align: left;
  background-color: rgba(2, 141, 2, 0.76);
}

.modal-content #difficulty {
  background: url(../images/ball.jpg) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#difficulty p {
  font-family: "Bungee Inline", cursive, sans-serif;
}

.modal-body li {
  text-align: left;
}

.form-check-input {
  width: 30px;
}

.star{
    margin: 2px;
    font-size: 3em;
    border: solid 1px rgb(212, 199, 16);;
}

.star-picked{
    color: rgb(212, 199, 16);
}

.email {
  width: 100%;
}

/*--------------Media Queries for Responsive Design------------*/
@media only screen and (max-width: 607px) {
  #title h1 {
    font-size: 3em;
  }
  .game{
      height: auto;
  }
  .card {
    width: 25%;
    margin: 5px;
    height: 8rem;
  }
  #status p {
    font-size: 1em;
  }
  .menu {
    text-align: center;
  }
  .menu ul {
    padding: 0;
    padding-left: 7em;
    text-align: center;
    margin: auto 0;
  }
  .menu li {
    font-size: 1.3em;
  }
  #title {
    pointer-events: auto;
  }
 
  #selectDifficulty .modal-content{
      width: auto;
  }
}

@media only screen and (max-width: 921px) {
  #title h1 {
    font-size: 3em;
  }

  .game{
      height: 40vh;
  }
  .card {
    width: 25%;
    margin: 5px;
    height: 8rem;
  }
  #status p {
    font-size: 1em;
  }
  .menu {
    text-align: center;
  }
  .menu ul {
    padding: 0;
    padding-left: 7em;
    text-align: center;
    margin: auto 0;
  }
  .menu li {
    font-size: 1.3em;
  }
  #title {
    pointer-events: auto;
  }
 
  #selectDifficulty .modal-content{
      width: auto;
  }
}

@media only screen and (min-width: 1200px) {

    /* .card{
        width: 25%;
        margin: auto 5em;
        height:14em;
    } */

    .buttons{
        width: 100%;
    }
}