/*------------------GENERAL----------------------*/

body {
  text-align: center;
}

/*---------------------HEADER----------------------*/

/*--------Animation guidance taken from Stack Overflow (Kirk Strobeck) ---------------*/
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
/*---------------------------------------------------*/

header {
  padding: 1em;
  margin-top: 1em;
}
main{
    animation-name: fadein;
  animation-duration: 4s;
}

.current {
  color: rgb(107, 69, 12);
  text-decoration: none;
}
h1 {
  font-size: 5em;
  font-family: "Bungee Inline", cursive, sans-serif;
  background-color: rgb(27, 143, 27);
  border-radius: 1.4em;
  width: 7em;
  animation-name: banner;
  animation-duration: 4s;
}
@keyframes banner {
  from {
    width: 0rem;
  }
  to {
    width: 7em;
  }
}

h1 i {
  color: rgb(107, 69, 12);
  /* animation-name: expand;
  animation-duration: 4s; */
}

/* @keyframes expand {
  from {font-size: 0em}
  to {font-size: 2em}
} */

.menu {
  font-family: "Bungee Inline", cursive, sans-serif;
  text-align: right;
  animation-name: fadein;
  animation-duration: 4s;
}
@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu ul {
  list-style-type: none;
}

.menu li {
  position: relative;
  right: 3em;
  font-size: 2em;
  font-weight: 200;
}

.menu li a {
  color: rgb(59, 59, 59);
}

.menu li a:hover{
    background-color: rgb(27, 143, 27);
    color: rgb(255, 255, 255);
    
}

#status {
  padding: 0.5em;
  font-family: "Montserrat", sans-serif;
  font-size: 1.4em;
}

#status i {
  color: rgb(194, 0, 0);
}
/*---------------------MAIN----------------------*/
.game {
  width: 100%;
  background-color: rgb(27, 143, 27);
  height: auto;
  padding-bottom: 4em;
}
.card {
  width: 20%;
  height: 10rem;
  margin: auto 1rem;
  box-shadow: 0px 0px 1px rgb(150, 149, 149);
  border-radius: 1.4em;
}

.card-row {
  margin: auto 0;
}

.flash {
  border: solid rgb(209, 178, 4) 6px;
}

.card:hover {
  border: solid rgb(209, 178, 4) 4px;
  cursor: pointer;
}

.empty {
  width: 10rem;
  height: 10rem;
  margin: auto 0;
  padding: 2em;
}

.count {
  float: center;
  position: relative;
  background: transparent;
  font-size: 4em;
  font-style: inherit;
  z-index: 100;
}
/*---------------------FOOTER----------------------*/

/*---------------------IMAGES----------------------*/
.card img {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 1.4em;
}

.winning {
  position: absolute;
  z-index: 300;
  bottom: 0px;
  right: 240px;
  visibility: hidden;
}
.losing {
  position: absolute;
  z-index: 300;
  bottom: 0px;
  right: 300px;
  visibility: hidden;
}
.touchdown {
  position: absolute;
  z-index: 300;
  bottom: 0px;
  right: 300px;
  visibility: hidden;
}

/*---------------------BUTTONS----------------------*/
.buttons {
  padding-top: 1em;
}

#play-btn {
  border: solid 2px rgb(148, 110, 14);
  background-color: rgb(247, 245, 245);
  color: rgb(148, 110, 14);
}

#play-btn:hover {
  border: solid 2px rgb(247, 245, 245);
  background-color: rgb(148, 110, 14);
  color: rgb(247, 245, 245);
}
/*-------Container Image--------*/
main .wing {
  height: auto;
  width: 100%;
  background: url(../images/field.jpg) no-repeat bottom right fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
